<!--<div class="fatherBox">-->
  <!--<nav class="container">-->
    <!--<ul>-->
      <!--<li>Home</li>-->
      <!--<li>Taco Menu</li>-->
      <!--<li>draft List</li>-->
      <!--<li>Hours</li>-->
      <!--<li>Directions</li>-->
      <!--<li>Contact</li>-->
    <!--</ul>-->

  <!--</nav>-->
  <!--<span id="main">-->
    <!--<section class="top">-->
    <!--section的margin-left样式确保了有足够的空间容纳nav元素-->
  <!--</section>-->
  <!--<section class="middle">-->
    <!--<p>一段文字</p>-->
  <!--</section>-->
  <!--<section class="bottom">-->
    <!--注意观察当你调整浏览器窗口时发生了什么。效果很赞！-->
  <!--</section>-->
  <!--</span>-->


<!--</div>-->

<div class="fatherBox">
  <div id="container" class="container" id="center">
    <div id="username" >
      <input placeholder="username">
    </div>
    <div id="password">
      <input placeholder="password">
    </div>

    <button>Log In</button><br/><br/>


    <span class="footer">Not registered? <font>Create an account</font></span>


  </div>
</div>
